* {
    box-sizing: border-box;
}

#wrapper {
    max-width: 1500px;
    margin: auto;
}

#table {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    
}

.case {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
}